*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-size: 2rem;
  overflow-x: hidden;
}

body {
  font-family: "Segoe UI", sans-serif;
  overflow-x: hidden;
  cursor: none;
}

::-moz-selection { /* Code for Firefox */
  background: rgba(204, 187, 237, 0.4274509804);
}

.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  z-index: 21;
}

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #7984e7;
  opacity: 0.3;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 0.3s, height 0.3s, opacity 0.3s;
  z-index: 21;
}

.hover {
  background-color: rgba(204, 187, 237, 0.4274509804);
  opacity: 0.5;
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: 0.5;
}

header {
  overflow-x: hidden;
}

.nav {
  display: flex;
  list-style: none;
  gap: 4.5rem;
  justify-content: flex-end;
  margin-top: 5rem;
  margin-right: 5rem;
  color: #707070;
}
.nav__moon {
  cursor: pointer;
}
.nav__div {
  display: flex;
  justify-content: flex-start;
}

.frontpage {
  display: flex;
  align-items: center;
  height: 60rem;
  width: 100%;
}
.frontpage__sidenav {
  width: 6rem;
  margin-left: 3rem;
  list-style: none;
  height: 45rem;
  background: white;
  border-radius: 5rem;
  box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 2;
  transition: 0.3s all;
  transition: margin-left 0.5s ease;
}
.frontpage__h1 {
  position: absolute;
  left: 20%;
  color: #707070;
  font-size: 5.5rem;
}
.frontpage__button {
  width: 20rem;
  height: 5rem;
  border: none;
  background: linear-gradient(to bottom right, #CCBBED, 50%, #7984e7);
  border-radius: 1rem;
  color: white;
  font-size: 1.8rem;
  box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s all;
}
.frontpage__button:hover {
  cursor: pointer;
  width: 27rem;
}
.frontpage__mark {
  color: #CCBBED;
  background: none;
}
.frontpage__listitem {
  margin-top: 6.5rem;
}
.frontpage__sidenavicon {
  color: #707070;
  font-size: 3rem;
}

.frontpage__listitem--five {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 27%;
  left: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pn {
  padding-left: 3rem;
  color: #606060;
}

.nav__listitem--bars {
  display: none;
  color: #606060;
  margin-right: 1.5rem;
  font-size: 2.5rem;
  z-index: 20;
}

canvas {
  position: absolute;
  z-index: -99;
  height: 100%;
}

.circle {
  height: 40rem;
  width: 60rem;
  background: #F3F0F9;
  background: rgba(149, 66, 232, 0.35);
  filter: blur(175px);
  position: absolute;
  transform: rotate(-20deg);
}
.circle--first {
  bottom: -15%;
  left: 10%;
  z-index: -1;
}
.circle--second {
  background: rgba(137, 199, 241, 0.471);
  right: 3%;
  top: -10%;
  z-index: 99;
}

.darkModeText {
  color: white;
  transition: 0.5s;
}

.darkModeCircle {
  background: linear-gradient(to bottom right, #CCBBED, 50%, #7984e7);
  transition: 2s;
}

.darkMode {
  background: rgb(37, 37, 37);
  color: white;
  transition: 0.5s all;
}

a {
  text-decoration: none;
  color: #707070;
}

.touched {
  opacity: 0.4;
}

span {
  z-index: 99;
}

.wave-btn {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 5px 30px;
  font-size: 2rem;
  font-weight: 600;
  line-height: 52px;
  border-radius: 10px;
  position: absolute;
  width: 15rem;
  height: 5rem;
  overflow: hidden;
  transition: all 0.3s;
  margin-top: 2rem;
  background: linear-gradient(to bottom right, #CCBBED, 50%, #7984e7);
}

.wave-btn:hover {
  width: 20rem;
}

.wave-btn:before {
  content: "";
  position: absolute;
  width: 320px;
  height: 320px;
  border-radius: 130px;
  top: 30px;
  left: 50%;
  background: #CCBBED;
  animation: wave 10s infinite linear;
  transition: all 1s;
}

.wave-btn:hover:before {
  top: 15px;
}

@keyframes wave {
  0% {
    transform: translate(-50%) rotate(-180deg);
  }
  100% {
    transform: translate(-50%) rotate(360deg);
  }
}
.projects {
  margin-top: 35rem;
}
.projects__div {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  color: #707070;
}
.projects__heading {
  font-size: 5.5rem;
}
.projects__featured {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.projects__featuredCard {
  width: 80rem;
  height: 50rem;
  box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.05);
  background: linear-gradient(to bottom right, #CCBBED, 50%, #7984e7);
}
.projects__wrapper {
  margin-left: 2rem;
}
.projects__h2 {
  background: linear-gradient(to bottom right, #CCBBED, 50%, #7984e7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5.5rem;
  font-weight: 700;
}
.projects__p {
  width: 50rem;
  margin-top: 1.5rem;
  color: #707070;
}
.projects__button {
  width: 15rem;
  height: 4rem;
  border: none;
  background: linear-gradient(to bottom right, #CCBBED, 50%, #7984e7);
  border-radius: 1rem;
  color: white;
  font-size: 1.5rem;
  box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s all;
  margin-top: 5rem;
}
.projects__button:hover {
  cursor: pointer;
  width: 21rem;
}
.projects__mainimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.projects__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
  flex-wrap: wrap;
}
.projects__list {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  margin-top: 8rem;
}
.projects__listitem {
  width: 125rem;
  height: 50rem;
  background: white;
  box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
.projects__wrap {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 10rem;
  padding-top: 5rem;
  position: relative;
}
.projects__title {
  font-size: 4rem;
  color: #707070;
}
.projects__wrap2 {
  width: 100%;
  height: 100%;
}
.projects__nav {
  position: absolute;
  left: 5%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.projects__navitem {
  height: 6rem;
  width: 1rem;
  background: #dcdcdc;
  border-radius: 2rem;
}
.projects__img {
  width: 100%;
  height: 80%;
  border-radius: 2rem;
  padding: 4rem;
}
.projects__figure {
  width: 100%;
  height: 100%;
  background: #7984e7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  position: relative;
}

.projects__iconwrapper {
  position: absolute;
  left: 85%;
  color: black;
  font-size: 2rem;
  bottom: 80%;
  background: white;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.projects__description {
  color: #707070;
  margin-top: 2rem;
}

.projects__contentWrapper {
  display: flex;
  justify-content: center;
  color: #707070;
  font-size: 4.5rem;
  margin-top: 20rem;
}

.nav__mobile {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(204, 187, 237, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s all;
  z-index: 19;
}

.nav__mobileList {
  list-style: none;
  position: relative;
  top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.nav__mobileListItem {
  color: white;
  font-size: 350%;
  text-align: center;
}

.mainNavigationListItem > a {
  text-decoration: none;
  color: #707070;
}

.projects__featurefig {
  width: 100%;
  height: 90vh;
  background: white;
  margin: 5rem;
  box-shadow: 0 2rem 5rem 0 rgba(117, 117, 117, 0.2);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.projects__slide {
  display: flex;
  gap: 2.5rem;
  list-style: none;
  padding-bottom: 3rem;
  position: absolute;
}

.projects__slider {
  width: 14rem;
  height: 0.3rem;
  background: #eee;
  border-radius: 2rem;
}

.projects__fill {
  width: 0%;
  height: 100%;
  background: #707070;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  border-radius: 2rem; /* Start with 0 width */
  transform-origin: left center;
}

@keyframes fill {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.projects__featureimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  padding: 5rem;
}

.projects__one {
  grid-column: 1/2;
  grid-row: 1/4;
  background: white;
  border-radius: 1rem;
  border: 2px #d4d4d4 solid;
}

.projects__two {
  grid-column: 3/5;
  grid-row: 1/4;
  background: blue;
  border-radius: 1rem;
  background: white;
  border: 2px #d4d4d4 solid;
  position: relative;
}

.projects__three {
  grid-column: 2/2;
  grid-row: 1/4;
  background: red;
  border-radius: 1rem;
  background: white;
  border: 2px #d4d4d4 solid;
  position: relative;
}

.projects__four {
  grid-column: 4/5;
  grid-row: 4/7;
  border-radius: 1rem;
  background: white;
  border: 2px #d4d4d4 solid;
  overflow: hidden;
  position: relative;
}

.img-2 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 2rem;
}

.overlay {
  width: 100%;
  height: 12rem;
  position: absolute;
  background: white;
  bottom: 0%;
  border-top: 2px #d4d4d4 solid;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

i {
  color: #d4d4d4;
}

.bee__h2 {
  position: absolute;
  bottom: 5%;
  left: 5%;
  color: #707070;
  font-weight: 500;
}

.bee__p {
  color: #707070;
  font-size: 1.8rem;
  position: absolute;
  top: 10%;
  left: 5%;
  border-bottom: #7984e7 2px solid;
}

.img-3 {
  width: 100%;
  height: 320px;
  object-fit: contain;
  border-radius: 2rem;
  position: relative;
  top: 2.6%;
  transform: scale(1.2);
}

.img-6 {
  width: 100%;
  height: 320px;
  object-fit: contain;
  border-radius: 2rem;
  position: relative;
  top: 1.5%;
}

.projects__five {
  grid-column: 2/4;
  grid-row: 4/7;
  border-radius: 1rem;
  background: #C5E8C4;
  position: relative;
}

.projects__six {
  grid-column: 1/2;
  grid-row: 4/7;
  border-radius: 1rem;
  background: white;
  overflow: hidden;
  background: #CCBBED;
}

.img-4 {
  width: 15rem;
  height: 15rem;
  position: absolute;
  right: 5%;
  top: 5%;
}

img {
  transition: 0.3s all;
}

.img-6:hover {
  transform: scale(1.5);
}

@media (max-width: 768px) {
  .projects__wrapper {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem;
  }
  .projects__one,
  .projects__two,
  .projects__three,
  .projects__four,
  .projects__five,
  .projects__six {
    grid-column: auto;
    grid-row: auto;
    width: 100%;
    margin-bottom: 10px;
    height: 32rem;
  }
  .projects__featurefig {
    margin: 0rem;
    box-shadow: none;
    height: 50rem;
  }
  .projects__featureimg {
    object-fit: contain;
    transform: scale(1.4);
    height: 100%;
  }
  video {
    object-fit: contain;
    height: 100%;
    transform: scale(1.4);
  }
  .projects__slide {
    width: 100%;
    padding: 2rem;
  }
}
.info {
  margin-top: 20rem;
  height: 100%;
  margin-bottom: 15rem;
  max-width: 100%;
  display: flex;
  gap: 2.5rem;
  flex-wrap: wrap;
  padding: 0rem 10rem 0rem 10rem;
}
.info__wrapper {
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 1;
  flex-grow: 1;
}
.info__circle {
  height: 40rem;
  width: 60rem;
  background: #F3F0F9;
  position: absolute;
  background: rgba(149, 66, 232, 0.35);
  filter: blur(175px);
  position: absolute;
  transform: rotate(-20deg);
}
.info__circle--first {
  z-index: -1;
  left: 70%;
}
.info__paragraph {
  color: #707070;
  margin-top: 2rem;
  line-height: 3rem;
}
.info__heading {
  font-size: 5.5rem;
  color: #707070;
  margin-top: 5rem;
}

.info__img {
  width: 40rem;
  height: 40rem;
}

.info__me {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.darkModeText {
  color: white;
  transition: 0.5s;
}

.skills {
  margin-top: 30rem;
  margin-bottom: 20rem;
  padding: 5rem;
}
.skills__icon {
  color: white;
}
.skills__list {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.skills__listitem {
  width: 40rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5.5rem;
  flex-direction: column;
  background: linear-gradient(to bottom right, #CCBBED, 50%, #7984e7);
  position: relative;
  border-radius: 1.5rem;
  transform: perspective(1500px);
  transition: 0.2s all;
}
.skills__circle {
  width: 50rem;
  height: 50rem;
  background: linear-gradient(to bottom right, #CCBBED, 50%, #7984e7);
  position: absolute;
  right: 12%;
  z-index: -99;
  bottom: 20%;
  border-radius: 50%;
}
.skills__responsivity {
  height: 100%;
  width: 100%;
  position: relative;
}
.skills__listitem::before {
  background: radial-gradient(80rem circle at var(--mouse-x) var(--mouse-y), rgba(204, 187, 237, 0.5803921569), transparent 40%);
  border-radius: inherit;
  content: "";
  opacity: 0;
  transition: opacity 500ms;
  height: 100%;
  left: 0rem;
  position: absolute;
  top: 0rem;
  width: 100%;
  z-index: 2;
}
.skills__listitem:hover::before {
  opacity: 1;
}
.skills__p {
  font-size: 2rem;
  padding-top: 1rem;
  text-align: center;
  color: white;
}
.skills__h3 {
  font-size: 4.5rem;
  color: #707070;
}
.skills__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  color: #707070;
}
.skills__heading {
  font-size: 5.5rem;
}

.skills__responsive {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.skills__mockup {
  width: 90rem;
  height: 90rem;
}

.skills__headerWrapper {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.skills__text {
  color: #707070;
  font-size: 2rem;
  width: 50rem;
  position: relative;
  left: 7%;
}

.skills__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 5rem;
}

.skills__resHeading {
  font-size: 5.5rem;
  color: #707070;
  top: 10%;
}

.darkModeCircle {
  background: linear-gradient(to bottom right, #CCBBED, 50%, #7984e7);
  transition: 2s all;
}

.darkModeBox {
  background: rgb(37, 37, 37);
  color: white;
  transition: 0.5s;
  border: 0.1rem solid rgb(105, 105, 105);
}

.darkMode {
  background: rgb(37, 37, 37);
  color: white;
  transition: 0.5s all;
}

.skills__circle--first {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: rgba(220, 201, 255, 0.262);
  position: absolute;
  top: 20%;
  left: 80%;
}

.skills__circle--second {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: rgba(220, 201, 255, 0.475);
  position: absolute;
  top: 13%;
  right: 20%;
}

.skills__listitem:hover {
  box-shadow: 0 5px 35px 0px rgba(0, 0, 0, 0.1);
}

.skills__listitem:hover::before, .skills__listitem:hover::after {
  display: block;
  content: "";
  position: absolute;
  width: 42rem;
  height: 42rem;
  background: #CCBBED;
  border-radius: 2rem;
  z-index: -10;
  animation: 4s clockwise infinite;
  border-radius: 50%;
  transition: 0.2s all;
}

.skills__listitem:hover:after {
  background: #7984e7;
  opacity: 0.5;
  animation: 2s counterclockwise infinite;
  transition: 0.2s all;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;
  }
}
@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;
  }
}
.contact {
  margin-top: 40rem;
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10rem;
}
.contact__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100rem;
  height: 70rem;
  border-radius: 2.5rem;
}
.contact__heading {
  font-size: 5.5rem;
  color: #707070;
}
.contact__links {
  display: flex;
  gap: 15rem;
  margin-top: 5rem;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 4rem;
}
.contact__listitem {
  font-size: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__p {
  font-size: 1.5rem;
  color: #707070;
  margin-top: 1rem;
}
.contact__paragraph {
  color: #707070;
}
.contact__icon--first:hover {
  color: black;
  transition: 0.5s;
}
.contact__icon--second:hover {
  color: rgb(0, 123, 255);
  transition: 0.5s;
}
.contact__icon--third:hover {
  color: #7984e7;
  transition: 0.5s;
}
.darkModeText {
  color: white;
  transition: 0.5s;
}

/*mediaqueries*/
@media screen and (max-width: 68.75rem) {
  body {
    overflow-x: hidden;
  }
  .circle--fifth {
    display: none;
  }
}
@media screen and (max-width: 62.5rem) {
  .info {
    padding: 5rem;
  }
  .projects__cards {
    padding: 2rem;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Change to a single column for mobile */
    gap: 10px;
    padding: 5rem;
    max-width: 800px; /* Set your desired maximum width */
    margin: 0 auto; /* Center the grid horizontally */
  }
  .frontpage__sidenav {
    position: fixed;
    bottom: 6rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    max-width: 60rem;
    height: 6rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: auto;
    gap: 4rem;
  }
  .frontpage__listitem {
    margin-top: 0;
    width: 5rem;
  }
  .nav {
    margin-right: 1rem;
    max-width: 100%;
  }
  .nav__listitem {
    font-size: 1.6rem;
    display: none;
  }
  .nav__listitem--bars {
    display: block;
  }
  header {
    overflow-x: hidden;
  }
  .projects__featured {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0rem;
    flex-wrap: wrap;
  }
  .projects__featuredCard {
    width: 100%;
    height: 50rem;
    box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.05);
    background: transparent;
  }
  .projects__mainimg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .projects__wrapper {
    margin-left: 0rem;
    width: 100%;
    padding: 5rem;
  }
  .projects__h2 {
    width: 100%;
  }
  .projects__p {
    width: 100%;
  }
  .projects__content {
    width: 100%;
    height: 100%;
  }
  .projects__list {
    width: 100%;
    padding: 2rem;
    flex-direction: column;
    gap: 19rem;
  }
  .projects__listitem {
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
  }
  .projects__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 1rem;
  }
  .projects__wrap {
    width: 100%;
    background: white;
    box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    height: 30rem;
    position: relative;
    padding-left: 0rem;
    padding-top: 0rem;
    justify-content: center;
    align-items: center;
  }
  .projects__description {
    font-size: 1.5rem;
    width: 22rem;
    text-align: left;
  }
  .projects__title {
    font-size: 2.5rem;
  }
  .projects__nav {
    position: absolute;
    left: 40%;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    bottom: 10%;
  }
  .projects__navitem {
    height: 1rem;
    width: rem;
    background: #dcdcdc;
    border-radius: 2rem;
  }
  .projects__wrap2 {
    height: 30rem;
  }
  .projects__figure {
    width: 100%;
    height: 100%;
    background: #7984e7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 0;
  }
  .skills__text {
    width: 100%;
    left: 0%;
    padding: 5rem;
  }
  .skills__img {
    object-fit: contain;
    width: 90rem;
    height: 90rem;
  }
  .skills__responsivity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .skills__mockup {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .skills__figwrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .skills__circle {
    width: 40rem;
    height: 40rem;
    background: linear-gradient(to bottom right, #CCBBED, 50%, #7984e7);
    position: absolute;
    left: 10%;
    z-index: -99;
    bottom: 20%;
    border-radius: 50%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1100px) {
  .projects__content {
    width: 100%;
    height: 100%;
  }
  .projects__list {
    width: 100%;
    padding: 2rem;
    flex-direction: column;
    gap: 19rem;
  }
  .projects__listitem {
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
  }
  .projects__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 1rem;
  }
  .projects__wrap {
    width: 100%;
    background: white;
    box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    height: 30rem;
    position: relative;
    padding-left: 0rem;
    padding-top: 0rem;
    justify-content: center;
    align-items: center;
  }
  .projects__description {
    font-size: 1.5rem;
    width: 22rem;
    text-align: left;
  }
  .projects__title {
    font-size: 2.5rem;
  }
  .projects__nav {
    position: absolute;
    left: 40%;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    bottom: 10%;
  }
  .projects__navitem {
    height: 1rem;
    width: rem;
    background: #dcdcdc;
    border-radius: 2rem;
  }
  .projects__wrap2 {
    height: 30rem;
  }
  .projects__figure {
    width: 100%;
    height: 100%;
    background: #7984e7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 0;
  }
  .skills__text {
    width: 100%;
    left: 0%;
    padding: 5rem;
  }
  .skills__img {
    object-fit: contain;
    padding: 5rem;
  }
  .skills__mockup {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .skills__figwrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .skills__circle {
    width: 40rem;
    height: 40rem;
    background: linear-gradient(to bottom right, #CCBBED, 50%, #7984e7);
    position: absolute;
    left: 10%;
    z-index: -99;
    bottom: 20%;
    border-radius: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
