body{
    font-family: 'Segoe UI', sans-serif;
    overflow-x: hidden;
    //background: rgb(37, 37, 37);
}

.darkMode{
    background: rgb(37, 37, 37);
    color: white;
    transition: 0.5s;
}

.darkModeText{
    color: white;
}

.darkModeCircle{
    background: linear-gradient(to bottom right, #CCBBED, 50%, #7984e7);
}