@use "../abstracts/colors";

.projects {
    margin-top: 35rem; 

    &__div{
        display: flex;
        justify-content: center;
        margin-bottom: 5rem;
        color: colors.$font-color;
    }

    &__heading{
        font-size: 5.5rem;
    }

    &__featured{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }

    &__featuredCard{
      width: 80rem;
      height: 50rem;
      box-shadow: 0 2rem 5rem 0 rgba(0,0,0,0.05);
      background: linear-gradient(to bottom right, #CCBBED, 50%, #7984e7);;
    }

    &__wrapper{
        margin-left: 2rem;
    }

    &__h2{
        background: linear-gradient(to bottom right, #CCBBED, 50%, #7984e7);;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 5.5rem;
        font-weight: 700;
    }

    &__p{
        width: 50rem;
        margin-top: 1.5rem;
        color: #707070;
    }

    &__button{
        width: 15rem;
        height: 4rem;
        border: none;
        background: colors.$gradient;
        border-radius: 1rem;
        color: colors.$font-color-alt;
        font-size: 1.5rem;
        box-shadow: 0 2rem 5rem 0 rgba(0,0,0,0.2);
        transition: 0.3s all;
        margin-top: 5rem;
    }

    &__button:hover{
        cursor: pointer;
        width: 21rem;
    }

    


    &__mainimg{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 2rem;
        flex-wrap: wrap;
    }

    &__list{
        display: flex;
        gap: 2rem;
        flex-direction: column;
        margin-top: 8rem;
    }


    &__listitem{
        width: 125rem;
        height: 50rem;
        background: white;
        box-shadow: 0 2rem 5rem 0 rgba(0,0,0,0.2);
        border-radius: 2rem;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
    }

    &__wrap{
        height: 100%;
        width: 80%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 10rem;
        padding-top: 5rem;
        position: relative;
    }

    &__title{
        font-size: 4rem;
        color: #707070;
    }



    &__wrap2{
        width: 100%;
        height: 100%;
    }

    &__nav{
        position: absolute;
        left: 5%;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__navitem{
        height: 6rem;
        width: 1rem;
        background: #dcdcdc;
        border-radius: 2rem;
    }

    &__img{
      width: 100%;
      height: 80%;
      border-radius: 2rem;
      padding: 4rem;
    }

    &__figure{
        width: 100%;
        height: 100%;
        background: #7984e7;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        position: relative;
    }
}



.projects__iconwrapper{
    position: absolute;
    left: 85%;
    color: black;
    font-size: 2rem;
    bottom: 80%;
    background: white;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    aspect-ratio: 1/1;
}


.projects__description{
    color: #707070;
    margin-top: 2rem;
}


.projects__contentWrapper{
    display: flex;
    justify-content: center;
    color: #707070;
    font-size: 4.5rem;
    margin-top: 20rem;
}





.nav__mobile{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(204, 187, 237, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s all;
    z-index: 19;
}

.nav__mobileList{
    list-style: none;
    position: relative;
    top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.nav__mobileListItem{
    color: white;
    font-size: 350%;
    text-align: center;
}

.mainNavigationListItem > a{
    text-decoration: none;
    color: #707070;
}


.projects__featurefig{
    width: 100%;
    height: 90vh;
    background: white;
    margin: 5rem;
    box-shadow: 0 2rem 5rem 0 rgba(117, 117, 117, 0.2);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.projects__slide{
    display: flex;
    gap: 2.5rem;
    list-style: none;
    padding-bottom: 3rem;
    position: absolute;
}

.projects__slider{
    width: 14rem;
    height: 0.3rem;
    background: #eee;
    border-radius: 2rem;
}

.projects__fill {
    width: 0%;
    height: 100%;
    background: #707070;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    border-radius: 2rem; /* Start with 0 width */
    transform-origin: left center;
}

@keyframes fill {
    0% {
        width: 0%;;
    }

    100% {
        width: 100%;;
    }
}

.projects__featureimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

  

.projects__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding: 5rem;
  }
  .projects__one {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background: white;
    border-radius: 1rem;
    border: 2px #d4d4d4 solid;
    overflow: hidden;
  }
  .projects__two {
    grid-column: 3 / 5;
    grid-row: 1 / 4;
    background: blue;
    border-radius: 1rem;
    background: white;
    border: 2px #d4d4d4 solid;
    position: relative;
  }
  .projects__three {
    grid-column: 2 / 2;
    grid-row: 1 / 4;
    background: red;
    border-radius: 1rem;
    background: white;
    border: 2px #d4d4d4 solid;
    position: relative;
  }
  .projects__four {
    grid-column: 4 / 5;
    grid-row: 4 / 7;
    border-radius: 1rem;
    background: white;
    border: 2px #d4d4d4 solid;
    overflow: hidden;
    position: relative;
  }

  .img-2{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 2rem;
  }

  

  .overlay{
    width: 100%;
    height: 12rem;
    position: absolute;
    background: #CCBBED;
    bottom: 0%;
    border-top: 2px #a897ca solid;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    opacity: 0.95;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
  }


  .projects__overlayText{
    position: absolute;
    bottom: 25%;
    left: 5%;
    color: white;
    font-weight: 500;
  }
 

  .bee__h2{
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: #707070;
    font-weight: 500;
  }

  .bee__p{
    color: #707070;
    font-size: 1.8rem;
    position: absolute;
    top: 10%;
    left: 5%;
    border-bottom: #7984e7 2px solid;
  }

 
 

  .img-3{
    width: 100%;
    height: 320px;
    object-fit: contain;
    border-radius: 2rem;
    position: relative;
    top: 2.5%;
    transform: scale(1.2);
  }

  
  .img-6{
    width: 100%;
    height: 320px;
    object-fit: contain;
    border-radius: 2rem;
    position: relative;
    top: 1.5%;
  }

  .projects__five {
    grid-column: 2 / 4;
    grid-row: 4 / 7;
    border-radius: 1rem;
    background: #C5E8C4;
    position: relative;
  }
  .projects__six {
    grid-column: 1 / 2;
    grid-row: 4 / 7;
    border-radius: 1rem;
    background: white;
    overflow: hidden;
    background: #CCBBED;
    position: relative;
  }


  .img-4{
    width: 15rem;
    height: 15rem;
    position: absolute;
    right: 5%;
    top: 5%;
  }

  img{
    transition: 0.3s all;
  }


  

  .img-6:hover{
    transform: scale(1.5);
  }

  @media (max-width: 768px) {
    .projects__wrapper {
      width: 100%;
      grid-template-columns: repeat(1, 1fr);
      padding: 2rem; 
    }
  
    .projects__one,
    .projects__two,
    .projects__three,
    .projects__four,
    .projects__five,
    .projects__six {
      grid-column: auto;
      grid-row: auto;
      width: 100%; 
      margin-bottom: 10px;
      height: 32rem;
    }

  .img-3{
    transform: scale(1);
    height: 100%;
    width: 100%;
  }
    
.projects__featurefig{
  margin: 0rem;
  box-shadow: none;
  height: 50rem;
}
.projects__featureimg{
  object-fit: contain;
  transform: scale(1.4);
  height: 100%;
}

video{
  object-fit: contain;
  height: 100%;
  transform: scale(1.4);
}

.projects__slide{
  width: 100%;
  padding: 2rem;
}
  }