@use "../abstracts/colors";

.projects {
    margin-top: 35rem; 

    &__div{
        display: flex;
        justify-content: center;
        margin-bottom: 5rem;
        color: colors.$font-color;
    }

    &__heading{
        font-size: 5.5rem;
        color: burlywood;
    }

    &__featured{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }

    &__featuredCard{
      width: 80rem;
      height: 50rem;
      box-shadow: 0 2rem 5rem 0 rgba(0,0,0,0.05);
      background: linear-gradient(to bottom right, #CCBBED, 50%, #7984e7);;
    }

    &__wrapper{
        margin-left: 2rem;
    }

    &__h2{
        background: linear-gradient(to bottom right, #CCBBED, 50%, #7984e7);;
  
        font-size: 5.5rem;
        font-weight: 700;
    }

    &__p{
        width: 50rem;
        margin-top: 1.5rem;
        color: #707070;
    }

    &__button{
        width: 15rem;
        height: 4rem;
        border: none;
        background: colors.$gradient;
        border-radius: 1rem;
        color: colors.$font-color-alt;
        font-size: 1.5rem;
        box-shadow: 0 2rem 5rem 0 rgba(0,0,0,0.2);
        transition: 0.3s all;
        margin-top: 5rem;
    }

    &__button:hover{
        cursor: pointer;
        width: 21rem;
    }

    


    &__mainimg{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 2rem;
        flex-wrap: wrap;
    }

    &__list{
        display: flex;
        gap: 2rem;
        flex-direction: column;
        margin-top: 8rem;
    }


    &__listitem{
        width: 125rem;
        height: 50rem;
        background: white;
        box-shadow: 0 2rem 5rem 0 rgba(0,0,0,0.2);
        border-radius: 2rem;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
    }

    &__wrap{
        height: 100%;
        width: 80%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 10rem;
        padding-top: 5rem;
        position: relative;
    }

    &__title{
        font-size: 4rem;
        color: #707070;
    }



    &__wrap2{
        width: 100%;
        height: 100%;
    }

    &__nav{
        position: absolute;
        left: 5%;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__navitem{
        height: 6rem;
        width: 1rem;
        background: #dcdcdc;
        border-radius: 2rem;
    }

    &__img{
      width: 100%;
      height: 80%;
      border-radius: 2rem;
      padding: 4rem;
    }

    &__figure{
        width: 100%;
        height: 100%;
        background: #7984e7;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        position: relative;
    }
}



.projects__iconwrapper{
    position: absolute;
    left: 85%;
    color: black;
    font-size: 2rem;
    bottom: 80%;
    background: white;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    aspect-ratio: 1/1;
}


.projects__description{
    color: #707070;
    margin-top: 2rem;
}


.projects__contentWrapper{
    display: flex;
    justify-content: center;
    color: #707070;
    font-size: 4.5rem;
    margin-top: 20rem;
}





.nav__mobile{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(204, 187, 237, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s all;
    z-index: 19;
}

.nav__mobileList{
    list-style: none;
    position: relative;
    top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.nav__mobileListItem{
    color: white;
    font-size: 350%;
    text-align: center;
}

.mainNavigationListItem > a{
    text-decoration: none;
    color: #707070;
}


.projects__featurefig{
    width: 100%;
    height: 95vh;
    background: white;
    margin: 5rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: 0.5s all;
    border-radius: 2rem;
    border: #dedede 2px solid;
}

.projects__slide{
    display: flex;
    gap: 2.5rem;
    list-style: none;
    padding-bottom: 3rem;
    position: absolute;
}

.projects__slider{
    width: 14rem;
    height: 0.3rem;
    background: #eee;
    border-radius: 2rem;
}

.projects__fill {
    width: 0%;
    height: 100%;
    background: #707070;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    border-radius: 2rem; /* Start with 0 width */
    transform-origin: left center;
}

@keyframes fill {
    0% {
        width: 0%;;
    }

    100% {
        width: 100%;;
    }
}

.projects__featureimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    border-radius: 2rem;
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;

}

  

.projects__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding: 5rem;
  }
  .projects__one {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background: white;
    border-radius: 1rem;
    border: 2px #d4d4d4 solid;
    position: relative;
    overflow: hidden;
  }
  .projects__two {
    grid-column: 3 / 5;
    grid-row: 1 / 4;
    background: blue;
    border-radius: 1rem;
    background: white;
    border: 2px #d4d4d4 solid;
    position: relative;
    overflow: hidden;
  }
  .projects__three {
    grid-column: 2 / 2;
    grid-row: 1 / 4;
    background: red;
    border-radius: 1rem;
    background: white;
    border: 2px #d4d4d4 solid;
    position: relative;
    overflow: hidden;
  }
  .projects__four {
    grid-column: 4 / 5;
    grid-row: 4 / 7;
    border-radius: 1rem;
    background: white;
    border: 2px #d4d4d4 solid;
    overflow: hidden;
    position: relative;
  }

  .projects__img-2{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    &:hover{
    }
  }

  


.projects__accordion {
  cursor: pointer;
  color: #707070;
  margin-top: 5rem;
  padding: 0rem;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.projects__panel {
  margin-bottom: 5rem;
  max-height: 0;
  overflow: hidden;
transition: max-height 0.2s ease-out;
}

.projects__bullet{
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-top: 4rem;
  list-style: circle;
}

.projects__bulletlist > i{
  color: #7984e7;
}

.projects__bulletlist{
  color: #707070;
}



.projects__wrapping{
  display: flex;
  justify-content: space-between;
  width: 60%;
  border-bottom: #7984e7 3px solid;
  align-items: flex-end;
  margin-bottom: 2rem;
}

.projects__wrapping:hover{
  cursor: pointer;
}

.projects__plus{
  font-size: 3rem;
  color: #707070;
}

  

  .projects__overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35%;
    backdrop-filter: blur(5px); 
    z-index: 1; 
    color: white;
    padding-left: 2rem;
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.3s ease, visibility 0.3s ease; 

    &--first{
      background: rgba(194, 229, 242, 0.163);
      border-top: 1px solid rgb(194, 229, 242);
    }


    &--second{
      background: rgba(110, 110, 110, 0.026);
      border-top: #b0b0b0 1px solid;
    }


    &--fourth{
      background: none;
      visibility: visible;
      opacity: 1;
    }

    &--fifth{
      border-top: #8abd899c 1px solid;
      background-color: #8cb98a72;
    }

    &--sixth{
      border-top: #ab96d6 1px solid;
      background-color: #b393f37a;
    }
}

article:hover .projects__overlay {
  opacity: 1; /* Fade in by setting opacity to 1 */
  visibility: visible; 
}

.projects__four:hover .projects__img-4{
  transform: scale(1.2);
}

.projects__three:hover .projects__img-4{
  transform: scale(1.2);
}

.projects__modal{
  background: white;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 19;
  overflow-y: auto;
  opacity: 1;
  transition: 0.5s all;
}

.projects__modal-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 19;
  height: 100%;
  overflow-y: auto;

}

.projects__modalart{
  height: 100%;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5rem;
  gap: 5rem;
}



.projects__modalfig{
  width: 80%;
  height: 40rem;
  background: #f1f1f1;
  border-radius: 2rem;

  &--cover{
    height: 55rem;
    background: white;
  }
}

.projects__modalimg{
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.3s all;
  border-radius: 2rem;
  overflow: auto;

  &:hover{
    transform: scale(0.9);
  }

  &--cover{
    object-fit: cover;
    

    &:hover{
      transform: scale(1
      );
    }
  }
}

.projects__modalh3{
  padding-top: 12rem;
  font-size: 3rem;
  color: #707070;
}

.projects__modalp{
  color: #707070;
  padding-top: 2rem;
}

.projects__modalh2{
  color: #707070;
  font-size: 5.5rem;
  justify-self: flex-start;
  align-self: flex-start;
}

.projects__modal--arrow{
  color: #707070;
  font-size: 3rem;
  justify-self: flex-start;
  align-self: center;
}

.projects__modalhead{
  height: auto;
  gap: 5rem;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.projects__modaltags{
  display: flex;
  width: 100%;
  gap: 2rem;
  list-style: none;
  padding-top: 2rem;
  flex-wrap: wrap;
}

.projects__modaltag{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  background: white;
  font-size: 1.5rem;
  border: solid #707070 2px;
  border-radius: 2rem;
  color: #707070;
  padding: 2rem;
}

.projects__modalwrap{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5rem;
}



.projects__tags {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.projects__tag {
  background-color: white; 
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border: 1px white solid;
  color: white;
  color: #707070;

  height: 2.3rem;
  width: 8rem;
  border-radius: 15px;
  
}

  .projects__overlayh2{
    position: absolute;
    top: 10%;
    left: 5%;
    color: white;
    font-weight: 500;

    &--alt{
      color: #707070;
    }
  }

  .bee__p{
    color: #707070;
    font-size: 1.8rem;
    position: absolute;
    top: 10%;
    left: 5%;
    border-bottom: #7984e7 2px solid;
  }

 

 
 

  .projects__img-3{
    width: 100%;
    height: 320px;
    object-fit: contain;
    border-radius: 2rem;
    position: relative;
    top: 2.5%;
    transform: scale(1.2);

    &:hover{
      transform: scale(1.4);
    }
  }

  .projects__img-1{
    object-fit: cover;
    width: 100%;
    height: 100%;
    
    &:hover{
      transform: scale(1.4);
    }
  }

  
  .projects__img-6{
    width: 100%;
    height: 320px;
    object-fit: contain;
    border-radius: 2rem;
    position: relative;
    top: 1.5%;
  }

  .projects__five {
    grid-column: 2 / 4;
    grid-row: 4 / 7;
    border-radius: 1rem;
    background: #C5E8C4;
    position: relative;
    overflow: hidden;
  }
  .projects__six {
    grid-column: 1 / 2;
    grid-row: 4 / 7;
    border-radius: 1rem;
    background: white;
    overflow: hidden;
    background: #CCBBED;
    position: relative;
  }


  .projects__img-4{
    width: 15rem;
    height: 15rem;
    position: absolute;
    right: 5%;
    top: 5%;
  }

img{
    transition: 0.3s all;
  }


  

  .projects__img-6:hover{
    transform: scale(1.5);
  }
  
 


  @media screen and (max-width: 768px) {
  

    .projects__modalhead{
      width: 100%;
      padding-left: 2rem;
      margin-top: 12rem;
    }

    .projects__modalh2{
      font-size: 4.5rem;
    }

    .projects__modalart{
      height: 100%;
      overflow-x: hidden;
    }
  

  .projects__img-3{
    transform: scale(1);
    height: 100%;
    width: 100%;
  }
    
.projects__featurefig{
  margin: 0rem;
  box-shadow: none;
  height: 50rem;
}


.projects__featureimg{
  object-fit: contain;
  transform: scale(1.4);
  height: 100%;
}

video{
  object-fit: contain;
  height: 100%;
  transform: scale(1.4);
}

.projects__slide{
  width: 100%;
  padding: 2rem;
}

  
.skills__text{
  width: 100%;
  left: 0%;
  padding: 5rem;
}

.skills__img{
  object-fit: contain;
  padding: 5rem;
}

.skills__mockup{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  }

.skills__figwrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}

.skills__circle{
  width: 40rem;
  height: 40rem;
  background: linear-gradient(to bottom right, #CCBBED, 50%, #7984e7);
  position: absolute;
  left: 10%;
  z-index: -99;
  bottom: 20%;
  border-radius: 50%;
}

  }