@use "../abstracts/colors";

.projects {
    margin-top: 35rem; 

    &__div{
        display: flex;
        justify-content: center;
        margin-bottom: 5rem;
        color: colors.$font-color;
    }

    &__heading{
        font-size: 5.5rem;
    }

    &__card{
        width: 65rem;
        box-shadow: 0 2rem 5rem 0 rgba(0,0,0,0.2);
        position: relative;
        border-radius: 1rem;
        text-align: center;
        background:linear-gradient(transparent,90%, rgb(62, 62, 62));
    }

    &__cards{
        display: flex;
        justify-content: center;
        list-style: none;
        flex-wrap: wrap;
        gap: 2rem;
    }

   

    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
        position: relative;
        z-index: -1;
    }

    &__p{
        position: absolute;
        bottom: 1.5rem;
        left: 5rem;
        color: #eee;
    }

    &__icon{
        position: absolute;
        bottom: 1.7rem;
        left: 2rem;
        color: colors.$font-color-alt;
    }

    .projects__img{
        z-index: -1;
        position: relative;
        padding: 0.7rem;
    }
    

}




