@use "../abstracts/colors";

.skills{
    margin-top: 30rem;
    margin-bottom: 20rem;
    padding: 5rem;

    &__icon{
        color: white;
    }

    &__list{
        display: flex;
        list-style: none;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
    }

    &__listitem{
        width: 40rem;
        box-shadow: 0 2rem 5rem 0 rgba(0,0,0,0.2);
        height: 40rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5.5rem;
        flex-direction: column;
        background: linear-gradient(to bottom right, #CCBBED, 50%, #7984e7);
        position: relative;
        border-radius: 1.5rem;
        transform: perspective(1500px);
        transition: 0.2s all;
    }

    &__circle{
        width: 50rem;
        height: 50rem;
        background: linear-gradient(to bottom right, #CCBBED, 50%, #7984e7);
        position: absolute;
        right: 12%;
        z-index: -99;
        bottom: 20%;
        border-radius: 50%;
    }

  

    &__responsivity{
        height: 100%;
        width: 100%;
        position: relative;
    }

    &__listitem:hover{
        transform: perspective(3000px) rotatex(10deg);
      
    }

    &__listitem::before{
        background: radial-gradient(
            80rem circle at var(--mouse-x) var(--mouse-y),
            #ccbbed94,
            transparent 40%
        );
        border-radius: inherit;
        content: "";
        opacity: 0;
        transition: opacity 500ms;
        height: 100%;
        left: 0rem;
        position: absolute;
        top: 0rem;
        width: 100%;
        z-index: 2;
    }

    &__listitem:hover::before{
        opacity: 1;
    }


    &__p{
        font-size: 2rem;
        padding-top: 1rem;
        text-align: center;
        color: white;
    }

    &__h3{
        font-size: 4.5rem;
        color: colors.$font-color;
    }

    &__wrapper{
        display: flex;
        justify-content: center;
        margin-bottom: 5rem;
        color: colors.$font-color;
    }

    &__heading{
        font-size: 5.5rem;
    }
}



.skills__responsive{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.skills__mockup{
    width: 90rem;
    height: 90rem;
}

.skills__headerWrapper{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

.skills__text{
    color: #707070;
    font-size: 2rem;
    width: 50rem;
    position: relative;
    left: 7%;
}

.skills__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 5rem;
}

.skills__resHeading{
    font-size: 5.5rem;
    color: colors.$font-color;
    top: 10%;
}



.darkModeCircle{
    background: linear-gradient(to bottom right, #CCBBED, 50%, #7984e7);
    transition: 2s all;
}

.darkModeBox{
    background: rgb(37, 37, 37);
    color: colors.$font-color-alt;
    transition: 0.5s;
    border: 0.1rem solid rgb(105, 105, 105);
}


.darkMode{
    background: rgb(37, 37, 37);
    color: colors.$font-color-alt;
    transition: 0.5s all;
}

.skills__circle--first{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: rgba(220, 201, 255, 0.262);
    position: absolute;
    top: 20%;
    left: 80%;
}

.skills__circle--second{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: rgba(220, 201, 255, 0.475);
    position: absolute;
    top: 13%;
    right: 20%;
}



