@use "../abstracts/colors";

.skills{
    margin-top: 30rem;
    margin-bottom: 20rem;
    padding: 5rem;

    &__icon{
        color: colors.$font-color;
    }

    &__list{
        display: flex;
        list-style: none;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    &__listitem{
        border: 0.2rem solid rgb(255, 255, 255);
        width: 40rem;
        box-shadow: 0 2rem 5rem 0 rgba(0,0,0,0.2);
        height: 30rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5.5rem;
        flex-direction: column;
        background: #f7f7f7;
        position: relative;
        border-radius: 1.5rem;
    }

    &__listitem::before{
        background: radial-gradient(
            80rem circle at var(--mouse-x) var(--mouse-y),
            rgba(255, 255, 255, 0.1),
            transparent 40%
        );
        border-radius: inherit;
        content: "";
        opacity: 0;
        transition: opacity 500ms;
        height: 100%;
        left: 0rem;
        position: absolute;
        top: 0rem;
        width: 100%;
        z-index: 2;
    }

    &__listitem:hover::before{
        opacity: 1;
    }

    &__p{
        font-size: 2rem;
        padding-top: 1rem;
        text-align: center;
        color: colors.$font-color;
    }

    &__h3{
        font-size: 4.5rem;
        color: colors.$font-color;
    }

    &__wrapper{
        display: flex;
        justify-content: center;
        margin-bottom: 5rem;
        color: colors.$font-color;
    }

    &__heading{
        font-size: 5.5rem;
    }
}



.darkModeCircle{
    background: linear-gradient(to bottom right, #CCBBED, 50%, #7984e7);
    transition: 2s;
}

.darkModeBox{
    background: rgb(37, 37, 37);
    color: colors.$font-color-alt;
    transition: 0.5s;
    border: 0.1rem solid rgb(105, 105, 105);
}


.darkMode{
    background: rgb(37, 37, 37);
    color: colors.$font-color-alt;
    transition: 0.5s;
}



