@media screen and (max-width: 68.75rem){

    .circle--first{
        bottom: 45%;
    }

    .circle--fifth{
        display: none;
    }

}





@media screen and (max-width: 50rem){
    .info{
        padding: 5rem;
    }
    .projects__cards{
        padding: 5rem;
    }

    .frontpage__sidenav{
        width: 5rem;
        margin-left: 1rem;
    }
  
}