@media screen and (max-width: 68.75rem){

    body{
        overflow-x: hidden;
    }

 



    .circle--fifth{
        display: none;
    }

}





@media screen and (max-width: 62.5rem){
    .info{
        padding: 5rem;
    }
    .projects__cards{
        padding: 2rem;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* Change to a single column for mobile */
        gap: 10px;
        padding: 5rem;
        max-width: 800px; /* Set your desired maximum width */
        margin: 0 auto; /* Center the grid horizontally */
      }

    .frontpage__sidenav {
        position: fixed;
        bottom: 6rem;
        left: 0;
        right: 0;
        margin: auto;
        width: 90%;
        max-width: 60rem; 
        height: 6rem;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: auto;
        gap: 4rem;
      }

    .frontpage__listitem{
        margin-top: 0;
        width: 5rem;
    }

    .nav{
        margin-right: 1rem;
        max-width: 100%;
    }

    .nav__listitem{
        font-size: 1.6rem;
        display: none;
    }

    .nav__listitem--bars{
        display: block;
    }

    header{
        overflow-x: hidden;
    }

    .projects__featured{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0rem;
        flex-wrap: wrap;
    }


     .projects__featuredCard{
      width: 100%;
      height: 50rem;
      box-shadow: 0 2rem 5rem 0 rgba(0,0,0,0.05);
      background: transparent;
    }

    .projects__mainimg{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }


    .projects__wrapper{
        margin-left: 0rem;
        width: 100%;
        padding: 5rem;
    }

    .projects__h2{
        width: 100%;
    }

    .projects__p{
        width: 100%;
    }

    .projects__content{
        width: 100%;    
        height: 100%;    
    }

    .projects__list{
        width: 100%;
        padding: 2rem;
        flex-direction: column;
        gap: 19rem;
    }

    .projects__listitem{
        flex-wrap: wrap;
        width: 100%;
        flex-direction: row;
    }

    .projects__img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        padding: 1rem;
    }

    .projects__wrap{
        width: 100%;
        background: white;
        box-shadow: 0 2rem 5rem 0 rgba(0,0,0,0.2);
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        height: 30rem;
        position: relative;
        padding-left: 0rem;
        padding-top: 0rem;
        justify-content: center;
        align-items: center;
    }

    .projects__description{
        font-size: 1.5rem;
        width: 22rem;
        text-align: left;
    }

    .projects__title{
        font-size: 2.5rem;
    }

    .projects__nav{
        position: absolute;
        left: 40%;
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        bottom: 10%;
    }

    .projects__navitem{
        height: 1rem;
        width: rem;
        background: #dcdcdc;
        border-radius: 2rem;
    }

    .projects__wrap2{
        height: 30rem;
    }

    .projects__figure{
        width: 100%;
        height: 100%;
        background: #7984e7;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 2rem;
        border-top-left-radius: 2rem;
        border-bottom-right-radius: 0;
    }

    .skills__text{
        width: 100%;
        left: 0%;
        padding: 5rem;
    }

    .skills__img{
        object-fit: contain;
        width: 90rem;
        height: 90rem;
    }

    .skills__responsivity{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .skills__mockup{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        }

    .skills__figwrapper{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .skills__circle{
        width: 40rem;
        height: 40rem;
        background: linear-gradient(to bottom right, #CCBBED, 50%, #7984e7);
        position: absolute;
        left: 10%;
        z-index: -99;
        bottom: 20%;
        border-radius: 50%;
    }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1100px) {
    .projects__content{
        width: 100%;    
        height: 100%;    
    }

    .projects__list{
        width: 100%;
        padding: 2rem;
        flex-direction: column;
        gap: 19rem;
    }

    .projects__listitem{
        flex-wrap: wrap;
        width: 100%;
        flex-direction: row;
    }

    .projects__img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        padding: 1rem;
    }

    .projects__wrap{
        width: 100%;
        background: white;
        box-shadow: 0 2rem 5rem 0 rgba(0,0,0,0.2);
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        height: 30rem;
        position: relative;
        padding-left: 0rem;
        padding-top: 0rem;
        justify-content: center;
        align-items: center;
    }

    .projects__description{
        font-size: 1.5rem;
        width: 22rem;
        text-align: left;
    }

    .projects__title{
        font-size: 2.5rem;
    }

    .projects__nav{
        position: absolute;
        left: 40%;
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        bottom: 10%;
    }

    .projects__navitem{
        height: 1rem;
        width: rem;
        background: #dcdcdc;
        border-radius: 2rem;
    }

    .projects__wrap2{
        height: 30rem;
    }

    .projects__figure{
        width: 100%;
        height: 100%;
        background: #7984e7;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 2rem;
        border-top-left-radius: 2rem;
        border-bottom-right-radius: 0;
    }

    
    .skills__text{
        width: 100%;
        left: 0%;
        padding: 5rem;
    }

    .skills__img{
        object-fit: contain;
        padding: 5rem;
    }

    .skills__mockup{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        }

    .skills__figwrapper{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .skills__circle{
        width: 40rem;
        height: 40rem;
        background: linear-gradient(to bottom right, #CCBBED, 50%, #7984e7);
        position: absolute;
        left: 10%;
        z-index: -99;
        bottom: 20%;
        border-radius: 50%;
    }
}