@media screen and (max-width: 68.75rem){

    body{
        overflow-x: hidden;
    }

    .circle--first{
        
    }



    .circle--fifth{
        display: none;
    }

}





@media screen and (max-width: 50rem){
    .info{
        padding: 5rem;
    }
    .projects__cards{
        padding: 2rem;
    }

    .frontpage__sidenav{
        width: 5rem;
        margin-left: 1rem;
    }

    .nav{
        margin-right: 1rem;
        max-width: 100%;
    }

    .nav__listitem{
        font-size: 1.6rem;
    }

    


    
  
}